<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="HelloWorldAction" class="com.itclinical.simple_struts_exercise.HelloWorldAction">
        <!-- Configure properties and dependencies for the bean -->
    </bean>
</beans>